@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    background-color: #F9F7F7;
    block-size: auto;
    font-family: 'Roboto Slab', serif;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    color: #3f6ea7dc;
    font-size: 42px;
    margin-top: 12px;
    font-weight: 600;
    padding: 12px;
}

.calculatorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
}

.calculatorShape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 650px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 12px;
    background-color: #2f3232;
    box-shadow: 12px 12px 2px 1px rgba(40, 40, 42, 0.2);
}

.upperCalculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
}

.calculatorDisplayContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    text-align: right;
    border-style: groove;
    border-color: #131212e2;
    border-width: 2px;
    border-radius: 6px;
    background-color: #BDCDD6;
}

.calculatorDisplay {
    width: 600px;
    padding-right: 12px;
}

.calculatorControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.clear {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 22px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.clear:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.erase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 22px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.erase:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.lowerCalculator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.calculatorDigitsContainer {
    width: 70%;
    height: 100%;
}

.calculatorDigits {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 6px;
}

.digitsFirstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    width: 100%;
    gap: 12px;
}

.seven {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.seven:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.eight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.eight:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.nine {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.nine:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.digitsSecondRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    width: 100%;
    gap: 12px;
}

.four {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.four:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.five {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.five:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.six {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.six:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.digitsThirdRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    width: 100%;
    gap: 12px;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.one:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.two:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}


.three {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.three:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.digitsFourthRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    width: 100%;
    gap: 12px;
}

.negative {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.negative:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.zero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.zero:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.decimal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background-color: #BDCDD6;
    user-select: none;
}

.decimal:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}


.calculatorOperators {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 12px;
    width: 30%;
    text-align: center;
    height: 100%;
}

.plusSign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18%;
    font-size: 24px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 32px;
    font-weight: 500;
    background-color: #BDCDD6;
    user-select: none;
}

.plusSign:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.minusSign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18%;
    font-size: 24px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 32px;
    font-weight: 500;
    background-color: #BDCDD6;
    user-select: none;
}

.minusSign:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.multiplySign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18%;
    font-size: 24px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 32px;
    font-weight: 500;
    background-color: #BDCDD6;
    user-select: none;
}

.multiplySign:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.divideSign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18%;
    font-size: 24px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 32px;
    font-weight: 500;
    background-color: #BDCDD6;
    user-select: none;
}

.divideSign:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.equalsSign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18%;
    font-size: 24px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    font-size: 32px;
    font-weight: 500;
    background-color: #BDCDD6;
    user-select: none;
}

.equalsSign:hover {
    cursor: pointer;
    background-color: #d6e0e6;
    filter: brightness(100%);
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: #3f6ea7dc;
    gap: 12px;
    font-size: 24px;
    width: 100%;
    font-weight: 600;
    padding: 12px;
}